.tit{
    justify-content: center;
   align-items: center;
   margin-top: 190px;
   font-size: xx-large;
   font-weight:bold;
}


.search{
    height: 40px;
    width: 310px;
    margin-right: 0px;
    border-radius: 12px 0px 0px 12px;

}
.one{
    border: 2px solid red;
    height: 600px;
}
.btn{
    background-color:red;
    width: 90px;
    padding: 7px;
    height: 40px;
    margin-left: 0px;
    border-radius: 0px 12px 12px 0px;
    margin: -6px;
   
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}