.full{
    border-radius: 2px solid white;
    border-radius: 20px;
   
}
.new{
   color:aquamarine;
}
.hell{
    background-color: aquamarine;
    margin-top: -19px;
    width: 320px;
    margin-left: 79px;
    border-radius: 11px;
}